@bg-text-field:#ffffff;
@bg-header:#F5F5F5;
@btn-text-color:#ffffff;
@color-primary: #327C32;
@color-secondary: #EBF6ED;
@border-components: #E0E0E0;
@border-container: #000000;
@text-color: #333333;
@info: #409EFF;
@icon-color: #BDBDBD;
@red: #F56C6C;